---
---

<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  
  <title>{{ site.title }}</title>
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="stylesheets/pygment_trac.css">
  <script src="javascripts/scale.fix.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<div class="wrapper">
  <header>
    <h1 class="header">{{ site.name }}</h1>
    <p class="header">{{ site.description }}</p>
    <ul class="downloads">
      <li class="download"><a class="buttons" href="https://github.com/sfu-compbio/deez/tarball/master">Get source!</a></li>
      <li class="download"><a class="buttons" href="https://github.com/sfu-compbio/deez/tarball/binary">Get binary!</a></li>
      <li><a class="buttons github" href="https://github.com/sfu-compbio/deez">View on GitHub</a></li>
    </ul>
    <br />
    <ul class="menu">
      {% for node in site.posts reversed %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li><a href="#{{id}}">{{node.title}}</a></li>
      {% endfor %}
    </ul>
  </header>

  <div id="main_content">     
     {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      <section id="{{id}}">
        <div class="container {{ page.style }}">
          {{ page.content }}
        </div>
      </section>
    {% endfor %}
  </div>

  <footer>
    <sub>&copy; 2011&ndash;{{ site.time | date: '%Y'| remove: '<p>' | remove: '</p>' }} {{ '[Lab for Computational Biology at SFU](http://compbio.cs.sfu.ca). All rights reserved.<br/> Hosted on [GitHub Pages](http://pages.github.com/). Design based upon Dinky theme.' | markdownify | remove: '<p>' | remove: '</p>' }}</sub>
  </footer>

  <!--[if !IE]><script>fixScale(document);</script><![endif]-->    
</body>
</html>
